<%- include('../partials/header.ejs') %>
    <main id="main" class="main">
        <table class="table w-25 m-auto">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Product</th>
                    <th scope="col">SubCategory</th>
                    <th scope="col">Category</th>
                </tr>
            </thead>
            <tbody>
                <% product && product.map((product, i)=>{ %>
                    <tr>
                        <td>
                            <%= i + 1 %>
                        </td>
                        <td>
                            <%= product.name %>
                        </td>
                        <td>
                            <% if (product.subCategoryID) { %>
                                <%= product.subCategoryID.name %>
                                    <% } %>
                        </td>
                        <td>
                            <% if (product.subCategoryID && product.subCategoryID.categoryID) { %>
                                <%= product.subCategoryID.categoryID.name %>
                                    <% } %>
                        </td>
                    </tr>
                    <% }) %>
            </tbody>
        </table>
    </main>
    <%- include('../partials/footer.ejs') %>